# Blender backup files
*.blend[0-9]
*.blend@

# Python bytecode and cache
**/__pycache__/
*.py[cod]

# Project Specific
/Context.md

*.zip
# OS specific
.DS_Store
Thumbs.db

# Exported textures folder
textures/
